body {
	background-color: black;
	color: azure;
}

.centered {
	display: inherit;

	text-align: center;
	text-justify: center;
	
	align: center;
	justify-content: center;
}

#pageContent {
	display: flex;
}
