body {
	background-color: black;
	color: azure;
}

.centered {
	display: inherit;

	text-align: center;
	text-justify: center;
	
	align: center;
	justify-content: center;
}

#pageContent {
	display: flex;
}

header {
	width:95%;
	height:10%;

	top:1%;
	text-align:center;
}

footer {
	width:95%;
	height:10%;

	bottom:99%;
	text-align:center;
}
